# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
absl-py=2.1.0=pypi_0
accelerate=0.33.0=pypi_0
addict=2.4.0=pypi_0
aiofiles=23.2.1=pypi_0
aiohappyeyeballs=2.4.3=pypi_0
aiohttp=3.10.10=pypi_0
aiosignal=1.3.1=pypi_0
alembic=1.13.3=pypi_0
aliyun-python-sdk-core=2.16.0=pypi_0
aliyun-python-sdk-kms=2.16.5=pypi_0
altair=5.4.1=pypi_0
annotated-types=0.7.0=pypi_0
antlr4-python3-runtime=4.9.3=pypi_0
anyio=4.6.2.post1=pypi_0
argon2-cffi=23.1.0=pypi_0
argon2-cffi-bindings=21.2.0=pypi_0
arrow=1.3.0=pypi_0
asttokens=2.4.1=pypi_0
async-lru=2.0.4=pypi_0
async-timeout=4.0.3=pypi_0
attrs=24.2.0=pypi_0
audioread=3.0.1=pypi_0
auto-gptq=0.7.1=pypi_0
autopage=0.5.2=pypi_0
av=13.1.0=pypi_0
babel=2.16.0=pypi_0
beautifulsoup4=4.12.3=pypi_0
bibtexparser=2.0.0b7=pypi_0
bitsandbytes=0.43.1=pypi_0
bleach=6.1.0=pypi_0
bzip2=1.0.8=h2bbff1b_6
ca-certificates=2024.9.24=haa95532_0
cairo=1.16.0=hc68a040_5
certifi=2024.8.30=pypi_0
cffi=1.17.1=pypi_0
cfgv=3.4.0=pypi_0
charset-normalizer=3.4.0=pypi_0
click=8.1.7=pypi_0
cliff=4.7.0=pypi_0
clldutils=3.23.1=pypi_0
cloudpickle=3.1.0=pypi_0
cmaes=0.11.1=pypi_0
cmd2=2.5.0=pypi_0
colorama=0.4.6=pypi_0
coloredlogs=15.0.1=pypi_0
colorlog=6.8.2=pypi_0
comm=0.2.2=pypi_0
compressed-tensors=0.8.0=pypi_0
comtypes=1.4.8=pypi_0
conformer=0.3.2=pypi_0
contourpy=1.3.0=pypi_0
crcmod=1.7=pypi_0
cryptography=43.0.3=pypi_0
csvw=3.5.1=pypi_0
cycler=0.12.1=pypi_0
cython=3.0.11=pypi_0
datasets=2.18.0=pypi_0
debugpy=1.8.7=pypi_0
decorator=5.1.1=pypi_0
defusedxml=0.7.1=pypi_0
diffusers=0.29.2=pypi_0
dill=0.3.8=pypi_0
diskcache=5.6.3=pypi_0
distlib=0.3.9=pypi_0
distro=1.9.0=pypi_0
dlfcn-win32=1.4.1=h63175ca_0
dlinfo=1.2.1=pypi_0
edge-tts=6.1.17=pypi_0
editdistance=0.8.1=pypi_0
einops=0.8.0=pypi_0
einx=0.3.0=pypi_0
exceptiongroup=1.2.2=pypi_0
executing=2.1.0=pypi_0
expat=2.6.3=he0c23c2_0
fastapi=0.115.3=pypi_0
fastjsonschema=2.20.0=pypi_0
ffmpeg=1.4=pypi_0
ffmpy=0.4.0=pypi_0
filelock=3.13.1=pypi_0
fire=0.7.0=pypi_0
flatbuffers=24.3.25=pypi_0
font-ttf-dejavu-sans-mono=2.37=hab24e00_0
font-ttf-inconsolata=3.000=h77eed37_0
font-ttf-source-code-pro=2.038=h77eed37_0
font-ttf-ubuntu=0.83=h77eed37_3
fontconfig=2.14.1=hb33846d_3
fonts-conda-ecosystem=1=0
fonts-conda-forge=1=0
fonttools=4.54.1=pypi_0
fqdn=1.5.1=pypi_0
freetype=2.12.1=ha860e81_0
fribidi=1.0.10=h8d14728_0
frozendict=2.4.6=pypi_0
frozenlist=1.5.0=pypi_0
fsspec=2024.2.0=pypi_0
funasr=1.1.12=pypi_0
gast=0.6.0=pypi_0
gdown=5.2.0=pypi_0
gekko=1.2.1=pypi_0
getopt-win32=0.1=hcfcfb64_1
gguf=0.10.0=pypi_0
glib=2.78.4=hd77b12b_0
glib-tools=2.78.4=hd77b12b_0
gradio=3.43.2=pypi_0
gradio-client=0.5.0=pypi_0
graphite2=1.3.13=h63175ca_1003
graphviz=7.1.0=h51cb2cd_0
greenlet=3.1.1=pypi_0
grpcio=1.67.0=pypi_0
gts=0.7.6=h6b5321d_4
h11=0.14.0=pypi_0
harfbuzz=6.0.0=h196d34a_1
html5lib-modern=1.2=pypi_0
httpcore=1.0.6=pypi_0
httptools=0.6.4=pypi_0
httpx=0.27.2=pypi_0
huggingface-hub=0.26.1=pypi_0
humanfriendly=10.0=pypi_0
hydra-colorlog=1.2.0=pypi_0
hydra-core=1.3.2=pypi_0
hydra-optuna-sweeper=1.2.0=pypi_0
hyperpyyaml=1.2.2=pypi_0
icu=72.1=h63175ca_0
identify=2.6.1=pypi_0
idna=3.10=pypi_0
importlib-metadata=8.5.0=pypi_0
importlib-resources=6.4.5=pypi_0
inflect=7.4.0=pypi_0
iniconfig=2.0.0=pypi_0
intel-openmp=2021.4.0=pypi_0
interegular=0.3.3=pypi_0
ipykernel=6.29.5=pypi_0
ipython=8.29.0=pypi_0
ipywidgets=8.1.5=pypi_0
isodate=0.7.2=pypi_0
isoduration=20.11.0=pypi_0
jaconv=0.4.0=pypi_0
jamo=0.4.1=pypi_0
jbig=2.1=h8d14728_2003
jedi=0.19.1=pypi_0
jieba=0.42.1=pypi_0
jinja2=3.1.3=pypi_0
jiter=0.7.1=pypi_0
jmespath=0.10.0=pypi_0
joblib=1.4.2=pypi_0
jpeg=9e=hcfcfb64_3
json5=0.9.25=pypi_0
jsonpointer=3.0.0=pypi_0
jsonschema=4.23.0=pypi_0
jsonschema-specifications=2024.10.1=pypi_0
jupyter-client=8.6.3=pypi_0
jupyter-core=5.7.2=pypi_0
jupyter-events=0.10.0=pypi_0
jupyter-lsp=2.2.5=pypi_0
jupyter-server=2.14.2=pypi_0
jupyter-server-terminals=0.5.3=pypi_0
jupyterlab=4.2.5=pypi_0
jupyterlab-pygments=0.3.0=pypi_0
jupyterlab-server=2.27.3=pypi_0
jupyterlab-widgets=3.0.13=pypi_0
kaldiio=2.18.0=pypi_0
kiwisolver=1.4.7=pypi_0
langdetect=1.0.9=pypi_0
langid=1.1.6=pypi_0
language-tags=1.2.0=pypi_0
lark=1.2.2=pypi_0
lazy-loader=0.4=pypi_0
lerc=2.2.1=h0e60522_0
libdeflate=1.7=h8ffe710_5
libexpat=2.6.3=he0c23c2_0
libffi=3.4.4=hd77b12b_1
libgd=2.3.3=hd77b12b_3
libglib=2.78.4=ha17d25a_0
libiconv=1.17=hcfcfb64_2
libpng=1.6.39=h8cc25b3_0
librosa=0.10.2.post1=pypi_0
libtiff=4.3.0=h0c97f57_1
libwebp=1.2.4=hcfcfb64_3
libwebp-base=1.2.4=h8ffe710_0
libxml2=2.13.1=h24da03e_2
lightning=2.2.4=pypi_0
lightning-utilities=0.11.8=pypi_0
llvmlite=0.43.0=pypi_0
lm-format-enforcer=0.10.9=pypi_0
loguru=0.7.2=pypi_0
lxml=5.3.0=pypi_0
lz4-c=1.9.3=h8ffe710_1
mako=1.3.6=pypi_0
markdown=3.7=pypi_0
markdown-it-py=3.0.0=pypi_0
markupsafe=2.1.5=pypi_0
matcha-tts=0.0.7.0=pypi_0
matplotlib=3.9.2=pypi_0
matplotlib-inline=0.1.7=pypi_0
mdurl=0.1.2=pypi_0
mistral-common=1.5.1=pypi_0
mistune=3.0.2=pypi_0
mkl=2021.4.0=pypi_0
mmengine-lite=0.10.5=pypi_0
modelscope=1.15.0=pypi_0
more-itertools=10.5.0=pypi_0
mpmath=1.3.0=pypi_0
msgpack=1.1.0=pypi_0
msgspec=0.18.6=pypi_0
multidict=6.1.0=pypi_0
multiprocess=0.70.16=pypi_0
narwhals=1.10.0=pypi_0
natsort=8.4.0=pypi_0
nbclient=0.10.0=pypi_0
nbconvert=7.16.4=pypi_0
nbformat=5.10.4=pypi_0
nest-asyncio=1.6.0=pypi_0
networkx=3.2.1=pypi_0
nodeenv=1.9.1=pypi_0
notebook=7.2.2=pypi_0
notebook-shim=0.2.4=pypi_0
numba=0.60.0=pypi_0
numpy=1.26.3=pypi_0
nvidia-ml-py=12.560.30=pypi_0
omegaconf=2.3.0=pypi_0
onnxruntime=1.19.2=pypi_0
openai=1.55.0=pypi_0
openai-whisper=20231117=pypi_0
opencv-contrib-python=4.10.0.84=pypi_0
opencv-python=4.10.0.84=pypi_0
opencv-python-headless=4.10.0.84=pypi_0
openfst=1.8.3=hc790b64_3
openssl=3.3.2=h2466b09_0
optimum=1.23.2=pypi_0
optimum-habana=1.14.0=pypi_0
optuna=2.10.1=pypi_0
orjson=3.10.10=pypi_0
oss2=2.19.1=pypi_0
outlines=0.0.46=pypi_0
overrides=7.7.0=pypi_0
packaging=24.1=pypi_0
pandas=2.2.3=pypi_0
pandocfilters=1.5.1=pypi_0
pango=1.50.12=hdffb7b3_1
parso=0.8.4=pypi_0
partial-json-parser=0.2.1.1.post4=pypi_0
pbr=6.1.0=pypi_0
pcre2=10.42=h0ff8eda_1
peft=0.11.1=pypi_0
phonemizer=3.3.0=pypi_0
pillow=10.4.0=pypi_0
pip=24.2=py310haa95532_0
pixman=0.43.4=h63175ca_0
platformdirs=4.3.6=pypi_0
pluggy=1.5.0=pypi_0
pooch=1.8.2=pypi_0
pre-commit=4.0.1=pypi_0
prettytable=3.11.0=pypi_0
prometheus-client=0.21.0=pypi_0
prometheus-fastapi-instrumentator=7.0.0=pypi_0
prompt-toolkit=3.0.48=pypi_0
propcache=0.2.0=pypi_0
protobuf=5.28.3=pypi_0
psutil=6.1.0=pypi_0
pure-eval=0.2.3=pypi_0
py-cpuinfo=9.0.0=pypi_0
pyairports=2.1.1=pypi_0
pyarrow=17.0.0=pypi_0
pyarrow-hotfix=0.6=pypi_0
pyaudio=0.2.14=pypi_0
pycountry=24.6.1=pypi_0
pycparser=2.22=pypi_0
pycryptodome=3.21.0=pypi_0
pydantic=2.9.2=pypi_0
pydantic-core=2.23.4=pypi_0
pydub=0.25.1=pypi_0
pygame=2.6.1=pypi_0
pygments=2.18.0=pypi_0
pylatexenc=2.10=pypi_0
pynini=2.1.6=py310h232114e_0
pynndescent=0.5.13=pypi_0
pyparsing=3.2.0=pypi_0
pyperclip=1.9.0=pypi_0
pypiwin32=223=pypi_0
pyreadline3=3.5.4=pypi_0
pysocks=1.7.1=pypi_0
pytest=8.3.3=pypi_0
python=3.10.15=h4607a30_1
python-dateutil=2.9.0.post0=pypi_0
python-dotenv=1.0.1=pypi_0
python-json-logger=2.0.7=pypi_0
python-multipart=0.0.12=pypi_0
python_abi=3.10=2_cp310
pytorch-lightning=2.4.0=pypi_0
pytorch-wpe=0.0.1=pypi_0
pyttsx3=2.98=pypi_0
pytz=2024.2=pypi_0
pywin32=308=pypi_0
pywinpty=2.0.14=pypi_0
pyyaml=6.0.2=pypi_0
pyzmq=26.2.0=pypi_0
qwen-vl-utils=0.0.8=pypi_0
ray=2.39.0=pypi_0
rdflib=7.1.0=pypi_0
referencing=0.35.1=pypi_0
regex=2024.9.11=pypi_0
requests=2.32.3=pypi_0
rfc3339-validator=0.1.4=pypi_0
rfc3986=1.5.0=pypi_0
rfc3986-validator=0.1.1=pypi_0
rich=13.9.3=pypi_0
rootutils=1.0.7=pypi_0
rouge=1.0.1=pypi_0
rpds-py=0.20.0=pypi_0
ruamel-yaml=0.18.6=pypi_0
ruamel-yaml-clib=0.2.12=pypi_0
ruff=0.7.1=pypi_0
safetensors=0.4.5=pypi_0
scikit-learn=1.5.2=pypi_0
scipy=1.14.1=pypi_0
seaborn=0.13.2=pypi_0
segments=2.2.1=pypi_0
semantic-version=2.10.0=pypi_0
send2trash=1.8.3=pypi_0
sentence-transformers=3.0.1=pypi_0
sentencepiece=0.2.0=pypi_0
setuptools=75.1.0=py310haa95532_0
shellingham=1.5.4=pypi_0
shortuuid=1.0.13=pypi_0
simplejson=3.19.3=pypi_0
six=1.16.0=pypi_0
sniffio=1.3.1=pypi_0
sortedcontainers=2.4.0=pypi_0
sounddevice=0.5.1=pypi_0
soundfile=0.12.1=pypi_0
soupsieve=2.6=pypi_0
soxr=0.5.0.post1=pypi_0
sqlalchemy=2.0.36=pypi_0
sqlite=3.45.3=h2bbff1b_0
stack-data=0.6.3=pypi_0
starlette=0.41.0=pypi_0
stevedore=5.3.0=pypi_0
sympy=1.13.1=pypi_0
tabulate=0.9.0=pypi_0
tbb=2021.11.0=pypi_0
tensorboard=2.18.0=pypi_0
tensorboard-data-server=0.7.2=pypi_0
tensorboardx=2.6.2.2=pypi_0
termcolor=2.5.0=pypi_0
terminado=0.18.1=pypi_0
threadpoolctl=3.5.0=pypi_0
tiktoken=0.7.0=pypi_0
tinycss2=1.4.0=pypi_0
tk=8.6.14=h0416ee5_0
tokenizers=0.20.1=pypi_0
tomli=2.0.2=pypi_0
tomlkit=0.12.0=pypi_0
torch=2.5.1+cu121=pypi_0
torch-complex=0.4.4=pypi_0
torchaudio=2.5.1+cu121=pypi_0
torchmetrics=1.5.1=pypi_0
torchvision=0.20.1+cu121=pypi_0
tornado=6.4.1=pypi_0
tqdm=4.66.5=pypi_0
traitlets=5.14.3=pypi_0
transformers=4.45.2=pypi_0
triton=3.0.0=pypi_0
typeguard=4.3.0=pypi_0
typer=0.12.5=pypi_0
types-python-dateutil=2.9.0.20241003=pypi_0
typing-extensions=4.12.2=pypi_0
tzdata=2024.2=pypi_0
ucrt=10.0.22621.0=h57928b3_1
umap-learn=0.5.6=pypi_0
unidecode=1.3.8=pypi_0
uri-template=1.3.0=pypi_0
uritemplate=4.1.1=pypi_0
urllib3=2.2.3=pypi_0
uvicorn=0.32.0=pypi_0
vc=14.40=h2eaa2aa_1
vc14_runtime=14.40.33810=hcc2c482_22
vector-quantize-pytorch=1.18.5=pypi_0
virtualenv=20.27.0=pypi_0
vllm=0.6.4.post1=pypi_0
vs2015_runtime=14.40.33810=h3bf8584_22
watchfiles=0.24.0=pypi_0
wcwidth=0.2.13=pypi_0
webcolors=24.8.0=pypi_0
webencodings=0.5.1=pypi_0
webrtcvad=2.0.10=pypi_0
websocket-client=1.8.0=pypi_0
websockets=11.0.3=pypi_0
werkzeug=3.0.6=pypi_0
wetextprocessing=1.0.4.1=pypi_0
wget=3.2=pypi_0
wheel=0.44.0=py310haa95532_0
whisper=1.1.10=pypi_0
widgetsnbextension=4.0.13=pypi_0
win32-setctime=1.1.0=pypi_0
xformer=1.0.1=pypi_0
xformers=0.0.28.post3=pypi_0
xxhash=3.5.0=pypi_0
xz=5.4.6=h8cc25b3_1
yapf=0.40.2=pypi_0
yarl=1.16.0=pypi_0
zipp=3.20.2=pypi_0
zlib=1.2.13=h8cc25b3_1
zstd=1.5.0=h6255e5f_0
